<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources._Layout.Label_Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="/Scripts/Shared/_Layout.js" type="text/javascript"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink(Resources._Layout.Label_Title, "PredictList", "Predict", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="切換導覽" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                Session["lang"]
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink(Resources._Layout.Label_ActionLinkIndex, "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink(Resources._Layout.Label_ActionLinkAbout, "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink(Resources._Layout.Label_ActionLinkPredictList, "PredictList", "Predict", null, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink(Resources._Layout.Label_ActionLinkEarthquakeReportList, "EarthquakeReportList", "EarthquakeReport", null, new { @class = "nav-link" })</li>
                </ul>

                <div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-light" onclick="changeLanguage('zh-TW')">繁體中文</button>
                        <button type="button" class="btn btn-light" onclick="changeLanguage('zh-CN')">简体中文</button>
                        <button type="button" class="btn btn-light" onclick="changeLanguage('en-US')">English</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources._Layout.Label_TitleBelow</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
