@model _20240300TryCWAAPI.Models.Predict.PredictListModel

<style>
    .card {
        transition: transform 0.3s ease, border-color 0.3s ease;
    }

        .card:hover {
            transform: scale(1.05);
            border-color: blue;
        }

    .link-black {
        color: black; /* 將連結顏色設置為黑色 */
        text-decoration: none; /* 移除連結的下劃線 */
    }
</style>

<br />
<h2>@Model.WeatherDataAPIData.records.DatasetDescription</h2>
<br />
@if (Model.SpecialWeatherWarningList != null)
{
    foreach (var a in Model.SpecialWeatherWarningList)
    {
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <div>
                @a.DatasetDescription ： @a.ContentText
            </div>
        </div>
    }
}
<br />
<div class="container">
    <div class="row">
        @foreach (var PredictList in @Model.PredictList)
        {

            <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                <a href="@Url.Action("PredictDetail", "Predict", new { choose_cityname = PredictList.cityname })" class="link-black">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">

                            <h3 class="card-title">@PredictList.cityname</h3>

                            <dl class="row">

                                <dt class="col-sm-4">最高氣溫</dt>
                                @foreach (var b in PredictList.newmaxt)
                                {
                                    <dd class="col-sm-8">@b°C</dd>
                                }
                                <dt class="col-sm-4">最低氣溫</dt>
                                @foreach (var c in PredictList.newmint)
                                {
                                    <dd class="col-sm-8">@c°C</dd>
                                }
                                <dt class="col-sm-4">舒適度</dt>
                                @foreach (var e in PredictList.newci)
                                {
                                    <dd class="col-sm-8">@e</dd>
                                }

                                <dt class="col-sm-4">降雨機會</dt>
                                @foreach (var p in PredictList.newpop)
                                {
                                    <dd class="col-sm-8">@p%</dd>
                                }
                                <dt class="col-sm-4">天氣現象</dt>
                                @foreach (var d in PredictList.newwx)
                                {
                                    <dd class="col-sm-8">@d</dd>
                                }

                            </dl>
                        </div>
                    </div>
                </a>
            </div>

        }
    </div>
</div>
