@model _20240300TryCWAAPI.Models.Predict.PredictDetailModel

<script src="/Scripts/Predict/PredictDetail.js" type="text/javascript"></script>

<br />
<h2>
    @Model.TodayDate 縣市預報 - 
    @if (Model.PredictList.Any())
    {
        @Model.choose_cityname
    }
</h2>
<br />
<table>
    <tr>
        <th width="20%">
            <label> 選擇縣市 </label>
        </th>

        <td>
            <select id="Choose_Identity" name="Choose_Identity" onchange="Choose_Cityname_onChange(this);" originalvalue=@Model.choose_cityname class="form-select" aria-label="Default select example">
                @foreach (var item in Model.ChooseCitynameDict)
                {
                    <option value="@item.Key" @(item.Key == Model.choose_cityname ? "selected" : "")>@item.Value</option>
                }
            </select>
            <!--<input class="helper input" type="text" id="Choose_UID" maxlength="20" name="Choose_UID" size="20" style=" background-color: #F0F0F0" disabled="" value="">-->
        </td>
    </tr>
</table>
<br />
<div class="container">
    <div class="row">
        @if (Model.PredictList.Any())
        { 
            for (int i = 0; i < Model.PredictList[0].newmaxt.Count; i++)
            {
                <div class="col-sm-4 mb-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body text-center">

                            <h5 class="card-title">氣象預報</h5>
                            <p>@Model.PredictList[0].startTime[i] - @Model.PredictList[0].endTime[i] 點</p>
                            <p class="card-text">@Model.PredictList[0].newmaxt[i] - @Model.PredictList[0].newmint[i]℃</p>
                            <p class="card-text">@Model.PredictList[0].newpop[i]%</p>
                            <p class="card-text">@Model.PredictList[0].newci[i]</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<br />
<p class="text-center">
    <a href="/Predict/PredictList" class="btn btn-secondary" type="button" id="BackButton" name="BackButton">返回</a>
    <!--<input act="CommentEdit" class="btnSearch" con="Comment" id="CancelButton" name="CancelButton" onclick="_ButtonSubmit_onClick(this)" type="button" value="關閉">-->
</p>