@model _20240300TryCWAAPI.Models.Predict.PredictModel

<h2>@Model.WeatherDataList.records.DatasetDescription</h2>

<table class="table">
    <thead>
        <tr>
            <th>地點</th>
            <th>MaxT</th>
            <th>MinT</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in @Model.PredictList)
        {
            <tr>
                <td>
                    @a.cityname
                </td>
                @foreach (var b in a.newmaxt)
                {
                <td>@b</td>
                }
                @foreach (var c in a.newmint)
                {
                <td>@c</td>
                }
            </tr>
        }
    </tbody>
</table>